body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at center, #21201e, #060606);
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  overflow: hidden;
}

body .wrap {
  width: 350px;
  min-width: 350px;
  height: 500px;
  background: #ffddd5;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

body .wrap .heading {
  grid-column: 1 / span 2;
  grid-row: 1;
  background: linear-gradient(to right, #fff 49.75%, #f2cd2e 49.5%, #f2cd2e 50.25%, #fff 50.25%);
  box-shadow: 0 10px 0 #fff, inset 0 15px 0 #fff, inset 0 -10px 0 #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px 20px;
}

body .wrap .heading h1 {
  grid-column: 1;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
  position: relative;
  font-variant: small-caps;
  padding: 0 0 0 10px;
}

body .wrap .heading h3 {
  grid-column: 2;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.25;
  position: relative;
  display: block;
  padding: 0 0 0 15px;
  margin-top: 5px;
}

body .wrap .heading h3 span {
  font-size: 14px;
  display: block;
  font-style: italic;
  font-weight: 100;
}

body .wrap .quadrant {
  position: relative;
  box-sizing: border-box;
}

body .wrap .quadrant:first-of-type {
  grid-column: 1;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-columns: 15px 15px 15px 15px 15px;
  grid-column-gap: 15px;
  padding: 75px 30px 0;
}

body .wrap .quadrant:first-of-type .block {
  background: #21201e;
  -webkit-animation: raiseup 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
  animation: raiseup 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
}

body .wrap .quadrant:first-of-type .block:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

body .wrap .quadrant:first-of-type .block:nth-of-type(2) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

body .wrap .quadrant:first-of-type .block:nth-of-type(3) {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

body .wrap .quadrant:first-of-type .block:nth-of-type(4) {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}

body .wrap .quadrant:first-of-type .block:nth-of-type(5) {
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}

body .wrap .quadrant:first-of-type .block:nth-of-type(n + 6) {
  display: none;
}

body .wrap .quadrant:nth-of-type(2) {
  grid-column: 1;
  grid-row: 4 / span 2;
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-column-gap: 22.5px;
  grid-template-rows: 30px 30px 30px;
  grid-row-gap: 17.5px;
  padding: 20px 30px;
}

body .wrap .quadrant:nth-of-type(2) .block {
  background: #21201e;
  -webkit-animation: rotate 9s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
  animation: rotate 9s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
}

body .wrap .quadrant:nth-of-type(2) .block:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

body .wrap .quadrant:nth-of-type(2) .block:nth-of-type(2) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

body .wrap .quadrant:nth-of-type(2) .block:nth-of-type(3) {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

body .wrap .quadrant:nth-of-type(2) .block:nth-of-type(4) {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}

body .wrap .quadrant:nth-of-type(2) .block:nth-of-type(5) {
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}

body .wrap .quadrant:nth-of-type(2) .block:nth-of-type(6) {
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
}

body .wrap .quadrant:nth-of-type(2) .block:nth-of-type(7) {
  -webkit-animation-delay: -14s;
  animation-delay: -14s;
}

body .wrap .quadrant:nth-of-type(2) .block:nth-of-type(8) {
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
}

body .wrap .quadrant:nth-of-type(2) .block:nth-of-type(9) {
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
}

body .wrap .quadrant:nth-of-type(2) .block:nth-of-type(10) {
  display: none;
}

body .wrap .quadrant:nth-of-type(3) {
  grid-column: 2;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-column-gap: 22.5px;
  grid-template-rows: 30px 30px 30px;
  grid-row-gap: 17.5px;
  padding: 20px 15px;
}

body .wrap .quadrant:nth-of-type(3) .block {
  background: #21201e;
  border-radius: 100%;
  -webkit-animation: greenup 3.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
  animation: greenup 3.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
}

body .wrap .quadrant:nth-of-type(3) .block:nth-of-type(1) {
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

body .wrap .quadrant:nth-of-type(3) .block:nth-of-type(2) {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

body .wrap .quadrant:nth-of-type(3) .block:nth-of-type(3) {
  -webkit-animation-delay: -2.25s;
  animation-delay: -2.25s;
}

body .wrap .quadrant:nth-of-type(3) .block:nth-of-type(4) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

body .wrap .quadrant:nth-of-type(3) .block:nth-of-type(5) {
  -webkit-animation-delay: -3.75s;
  animation-delay: -3.75s;
}

body .wrap .quadrant:nth-of-type(3) .block:nth-of-type(6) {
  -webkit-animation-delay: -4.5s;
  animation-delay: -4.5s;
}

body .wrap .quadrant:nth-of-type(3) .block:nth-of-type(7) {
  -webkit-animation-delay: -5.25s;
  animation-delay: -5.25s;
}

body .wrap .quadrant:nth-of-type(3) .block:nth-of-type(8) {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

body .wrap .quadrant:nth-of-type(3) .block:nth-of-type(9) {
  -webkit-animation-delay: -6.75s;
  animation-delay: -6.75s;
}

body .wrap .quadrant:nth-of-type(3) .block:last-of-type {
  display: none;
}

body .wrap .quadrant:nth-of-type(4) {
  grid-column: 2;
  grid-row: 3 / span 3;
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: 7px 7px 7px 7px 7px 7px 7px 7px 7px 7px;
  grid-row-gap: 13px;
  padding: 60px 15px 0 15px;
}

body .wrap .quadrant:nth-of-type(4) .block {
  background: #21201e;
  -webkit-animation: redtilt 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
  animation: redtilt 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
}

body .wrap .quadrant:nth-of-type(4) .block:nth-of-type(even) {
  -webkit-animation: redtilt2 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
  animation: redtilt2 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
}

body .wrap .quadrant:nth-of-type(4) .block:nth-of-type(1) {
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

body .wrap .quadrant:nth-of-type(4) .block:nth-of-type(2) {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

body .wrap .quadrant:nth-of-type(4) .block:nth-of-type(3) {
  -webkit-animation-delay: -2.25s;
  animation-delay: -2.25s;
}

body .wrap .quadrant:nth-of-type(4) .block:nth-of-type(4) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

body .wrap .quadrant:nth-of-type(4) .block:nth-of-type(5) {
  -webkit-animation-delay: -3.75s;
  animation-delay: -3.75s;
}

body .wrap .quadrant:nth-of-type(4) .block:nth-of-type(6) {
  -webkit-animation-delay: -4.5s;
  animation-delay: -4.5s;
}

body .wrap .quadrant:nth-of-type(4) .block:nth-of-type(7) {
  -webkit-animation-delay: -5.25s;
  animation-delay: -5.25s;
}

body .wrap .quadrant:nth-of-type(4) .block:nth-of-type(8) {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

body .wrap .quadrant:nth-of-type(4) .block:nth-of-type(9) {
  -webkit-animation-delay: -6.75s;
  animation-delay: -6.75s;
}

body .wrap .quadrant:nth-of-type(4) .block:nth-of-type(10) {
  -webkit-animation-delay: -7.5s;
  animation-delay: -7.5s;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

@-webkit-keyframes raiseup {
  80% {
    background: #21201e;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  85% {
    background: #4683b6;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    background: #4683b6;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes raiseup {
  80% {
    background: #21201e;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  85% {
    background: #4683b6;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    background: #4683b6;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes rotate {
  90% {
    background: #21201e;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  95% {
    background: #f2cd2e;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    background: #f2cd2e;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@keyframes rotate {
  90% {
    background: #21201e;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  95% {
    background: #f2cd2e;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    background: #f2cd2e;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@-webkit-keyframes greenup {
  90% {
    background: #21201e;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  95% {
    background: #00a854;
    -webkit-transform: translateY(-12.5px);
    transform: translateY(-12.5px);
  }
  100% {
    background: #00a854;
    -webkit-transform: translateY(-12.5px);
    transform: translateY(-12.5px);
  }
}

@keyframes greenup {
  90% {
    background: #21201e;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  95% {
    background: #00a854;
    -webkit-transform: translateY(-12.5px);
    transform: translateY(-12.5px);
  }
  100% {
    background: #00a854;
    -webkit-transform: translateY(-12.5px);
    transform: translateY(-12.5px);
  }
}

@-webkit-keyframes redtilt {
  95% {
    background: #21201e;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  97.5% {
    background: #d2162c;
    -webkit-transform: rotate(-7.5deg);
    transform: rotate(-7.5deg);
  }
  100% {
    background: #d2162c;
    -webkit-transform: rotate(-7.5deg);
    transform: rotate(-7.5deg);
  }
}

@keyframes redtilt {
  95% {
    background: #21201e;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  97.5% {
    background: #d2162c;
    -webkit-transform: rotate(-7.5deg);
    transform: rotate(-7.5deg);
  }
  100% {
    background: #d2162c;
    -webkit-transform: rotate(-7.5deg);
    transform: rotate(-7.5deg);
  }
}

/*@-webkit-keyframes redtilt2 {
  85% {
    background: #21201e;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  92.5% {
    background: #d2162c;
    -webkit-transform: rotate(7.5deg);
            transform: rotate(7.5deg);
  }
  100% {
    background: #d2162c;
    -webkit-transform: rotate(7.5deg);
            transform: rotate(7.5deg);
  }
}
@keyframes redtilt2 {
  85% {
    background: #21201e;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  92.5% {
    background: #d2162c;
    -webkit-transform: rotate(7.5deg);
            transform: rotate(7.5deg);
  }
  100% {
    background: #d2162c;
    -webkit-transform: rotate(7.5deg);
            transform: rotate(7.5deg);
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
